
body{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1368px;
    font-size: 14px;
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}


header>.sec1{
    background-color: #b0003a;
    padding: 12px 0;
    font-size: 1em;
}

.container{
    width: 1230px;
    margin: auto;
}

header > .sec1 >.container>div{
    display: flex;
    justify-content: space-between;
    
}

header > .sec1 >.container>div ul{
    display: flex;
    justify-content: space-between;
}

header > .sec1 >.container>div> div{
    display: flex;
    align-items: center;
}

header > .sec1 >.container>div> div> i{
    color: white;
    margin-right: 40px;
}
header > .sec1 >.container>div >div >ul >li{
    margin-left: 20px;
}

header > .sec1 >.container .sub >ul >li::after{
    content: "|";
    margin-left: 20px;
    color: white;
}

header > .sec1 >.container .sub >ul >li:last-child::after{
    content: none;
    
}

header > .sec1 >.container .sub > select{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

header > .sec1 >.container >div ul >li >a{
    color: white;
}

section.sec2{
    border: 1px solid black;
}

header> .sec2> .container >div{
    display: flex;
    justify-content: space-between;

}


header> .sec2 nav{
    display: flex;
    align-items: center;
    
}

header> .sec2 .nav span{
    display: flex;
    align-items: center;
    
}

header> .sec2 nav >ul{
    display: flex;
    justify-content: space-between;
    
}

header .sec2 li a{
    color: black;
}

header>.sec2> .container >div >nav >ul li:not(:first-child){
    margin-left: 60px;
}

header>.sec2 .nav img{
    width: 80px;
}